<h1> Add New Vet </h1>

<div id="new-vet-container">
  <%= semantic_form_for @veterinarian do |f| %>
    <%= f.semantic_errors %>
    <%= f.inputs do %>
      <%= f.input :organization_name %>
      <%= f.input :vet_name %>
      <%= f.inputs :address_1, :address_2, :city, :state, :zip_code, for: :address, name: "Address" %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, label: "Add" %>
    <% end %>
  <% end %>
</div>


