<!DOCTYPE html>
<html>
<head>
  <title>PetRecords</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <nav>
          <ul>
            <% if signed_in? %>
              <li>
                Welcome <%= current_user.email %>
              </li>
              <li>
                <%= link_to 'Sign out', sign_out_path, method: :delete %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <section class="content">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </section>
  </body>
</html>
